<h1>Edit Supply for <%=@supplies.name %></h1>
<form method="POST" action='/supplies/<%=@supplies.id%>' >
    <input id="hidden" type="hidden" name="_method" value="patch" />
    <label>Name</label>
    <input type="text" name="supplies[name]" placeholder="<%= @supplies.name %>">
    <label>Brand</label>
    <input type="text" name="supplies[brand]" value="<%= @supplies.brand %>">
    <label>Image URL</label>
    <input type="text" name="supplies[image]" value="<%= @supplies.image %>">
    <a href="/supplies/<%=@supplies.id%>/edit">Edit Supply</a>
</form>

<br>
<form action="/supplies/<%=@supplies.id%>/delete" method="post">
 <input id="hidden" type="hidden" name="_method" value="delete">
 <button>Delete</button>
