<h1>Edit Supply for <%= @supply.name %></h1>
<p><%= @error %></p>
<form action="/supplies/<%=@supply.id%>" method="post">
    <input type="hidden" name="_method" value="_patch">
    <label>Name</label>
    <input type="text" name="name" value="<%= @supply.name %>">
    <label>Brand</label>
    <input type="text" name="brand" value="<%= @supply.brand %>">
    <label>Image URL</label>
    <input type="text" name="image" value="<%= @supply.image %>">
    <button type="submit">Edit Supply</button>
</form>